@model IEnumerable<Langben.DAL.SysNotice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Blog.cshtml";
}

<table class="table">
    <tr style="width:90%">
        <th>
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
       
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        var IndexNo = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @IndexNo
                </td>
                <td>
                    @(new HtmlString(item.Message))                 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>

               
            </tr>
            IndexNo = IndexNo + 1;
        }
    }

</table>
