@model IEnumerable<Langben.DAL.FileUploader>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Personal.cshtml";
}



<div class="col-md-9 column">
    <ul class="breadcrumb">
        <li><a>首页</a> </li>
        <li class="active"> 上传文件</li>
    </ul>
   
</div>
<script type="text/javascript">

    $(function () {

      
    });
 
</script>
