@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>错误。</h1>
        <h2><a href="/logon">请重新登录</a></h2>
    </hgroup><script type="text/javascript" src="http://tajs.qq.com/stats?sId=19223986" charset="UTF-8"></script>
</body>
</html>
