@{
    Layout = "~/Views/Shared/Resumes.cshtml";
}
@RenderBody()
@section SubMenu{

<div class="col-md-3 column visible-md visible-lg ">
    <ul class="nav nav-pills nav-stacked pinned" role="tablist" id="menuList" >
        <li id="liPersonalInformation" ><a href="~/Account/Edit">个人信息</a></li>
        <li id="liDegreeSchool" ><a href="~/DegreeSchool/Index">学历、学校</a></li>
        <li id="liLanguageCompetence" ><a href="/LanguageCompetence/Index">语言能力</a></li>
        <!--<li id="liRewardsEvent" ><a href="">奖励、活动</a></li>-->
        <li id="liITAbility" ><a href="/ITAbility/Index">IT技能爱好</a></li>
        <li id="liProjectExperience" ><a href="/ProjectExperience/Index">项目经验</a></li>
        <li id="liInternshipExperience" ><a href="/InternshipExperience/Index">实习经验</a></li>
        <!--<li id="liFamilyMember" ><a href="/FamilyMember/Index">家庭成员</a></li>-->
        <li id="liUploadFiles" ><a href="~/FileUploader">上传文件</a></li>
        <li id="liPreview" ><a href="/Preview/Index">简历预览</a></li>
    </ul>
</div>
    }


