@{
    Layout = "~/Views/Shared/Resumes.cshtml";
}
@RenderBody()
@section SubMenu{

<div class="col-md-3 column visible-md visible-lg ">
    <ul class="nav nav-pills nav-stacked pinned" role="tablist" id="menuList" >
        <li id="liPerson" ><a href="~/Person">个人信息 <span class="menuRequired">*</span></a></li>
        <li id="liDegreeSchool" ><a href="~/DegreeSchool">秀才学堂<span class="menuRequired">*</span></a></li>
        <li id="liLanguageCompetence" ><a href="/LanguageCompetence">语言能力<span class="menuRequired">*</span></a></li>
        <li id="liITAbility" ><a href="/ITAbility">技能爱好<span class="menuRequired">*</span></a></li>
        <li id="liProjectExperience" ><a href="/ProjectExperience">项目经验<span class="menuRequired">*</span></a></li>
        <li id="liInternshipExperience" ><a href="/InternshipExperience">实习经验<span class="menuRequired">*</span></a></li>
        <li id="liFileUploader" ><a href="~/FileUploader">上传简历</a></li>
     </ul>    
</div>
    }
<style>
     .menuRequired {
    color: #e02222;
    font-size: 15px;
}
</style>
<script type="text/javascript">
        $(document).ready(function () {
        
            var urls = window.location.href.split('/');
            if(urls!=null)
            {
                var liID = "li" + urls[urls.length - 1];                   
                $("menuList li").removeClass("active"); //Remove any "active" class
                $("#" + liID).addClass("active");


            }
        });
</script>


