
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>狼奔</title>


    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link href="~/Content/pagerstyles.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/JScriptForm.js"></script>
    <script src="~/Scripts/Validate.js" type="text/javascript"></script>
    <script src="~/Scripts/JScriptCommon.js" type="text/javascript"></script>
    <link rel="Stylesheet" href="~/Content/Competence.css" />
    <script type="text/javascript" src="~/Scripts/jquery.autocomplete.js"></script>

    @RenderSection("HeadContent", false)

</head>
<body>
    <!--header b -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- logo -->
                <a href="~/">
                    <img class="logo" src="~/images/logo.png" alt="" style="width: 207px;" />
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/SysNotice" style="margin-right:20px;">我的消息</a></li>
                    <li><a href="~/Preview">个人资料</a></li>
                    <li><a href="~/Publish">发布博客</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
    <!--header e -->
    <div>

       

        <div class="container" style="min-height: 720px">
            <div class="row clearfix">
                @RenderBody()
                @RenderSection("SubMenu")
            </div>
        </div>
        <hr />
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="footer-company"><a target="_blank" title="北京狼奔科技有限公司" href="http://www.langben.com/">北京狼奔科技有限公司</a></span>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-right">
                                <span class="footer-company">邮箱</span> ben@langben.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Html.ValidationSummary(true)
</body>
</html>

