@model IEnumerable<Langben.DAL.DegreeSchool>

@{
    ViewBag.Title = "学校学历";
    Layout = "~/Views/Shared/Personal.cshtml";
}

<div class="col-md-9 column">
    <h4 class="breadcrumb">
        请从最高学历开始填写。
    </h4>
    <!--列表开始 -->
    <table class="table table-bordered table-striped" id="tbList">
        <tr id="trTitle">
            <th>序号</th>
            <th>开始日期</th>
            <th>结束日期</th>
            <th>学校</th>
            <th>专业</th>
            <th>学位</th>
            <th>操作</th>
        </tr>
        <tr id="trList" style="display:none">
            <td id="tdNo">1</td>
            <td id="tdBeginDate"> 2016-05-31 </td>
            <td id="tdEndDate"> 2016-07-01 </td>
            <td id="tdSchoolName"> </td>
            <td id="tdProfessionalType2">  </td>
            <td id="tdDegree"> MBA【双学士】 </td>
            <td><a href="#" id="aEdit" class="btn btn-link btn-xs " title="编辑"><i class="fa fa-pencil-square-o"></i><span class="sr-only">编辑</span></a> | <a id="aDelete" href="#" class="btn btn-link btn-xs" title="删除"><i class="fa fa-trash"></i><span class="sr-only">删除</span></a></td>


        </tr>

    </table>
    <p>
        <input class="btn btn-primary" type="button" value="添 加" onclick="AddShow()" />
        <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence')" value="下一步" id="divNoOp" />
    </p>
    <div class="form-horizontal" role="form" id="divEdit" style="display:none">
        <input type="hidden" id="hideID" value="" /><!--编号-->
        <input type="hidden" id="hideResumeId" value="" /><!--简历管理Id-->
        <input type="hidden" id="hideSort" value="0" /><!--排序-->
        <input type="hidden" id="hideState" value="启用" /><!--状态-->
        <input type="hidden" id="hideCreateTime" value="" /><!--创建时间-->
        <input type="hidden" id="hideCreatePerson" value="" /><!--创建人-->
        <div class="form-group">
            <label class="col-sm-3 control-label">开始日期<span class="required">*</span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtBeginDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtBeginDate' })"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束日期<span class="required">*</span></label>
            <div class=" col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtEndDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtEndDate' })"><i class="fa fa-calendar"></i></span>
                    <div style="float: left">&nbsp;<input name="cbIsNow" id="cbIsNow" type="checkbox" />至今</div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学校<span class="required">*</span></label>
            <div class="col-md-9">
                <select class="form-control  input-inline" id="ddlSchoolArea" style="max-width:105px">
                    <option>请选择</option>
                    <option>北京</option>
                    <option>河北</option>
                </select>
                <select class="form-control  input-inline" id="ddlSchoolName" style="max-width:200px;">
                    <option>请选择</option>
                </select>
                <input type="text" class="form-control input-inline" id="txtSchoolNameRemark" style="display:none;margin-left:330px;margin-top:-55px" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">专业<span class="required">*</span></label>
            <div class="col-sm-5">
                <select class="form-control  input-inline" id="ddlProfessionalType1" style="max-width:105px">
                    <option>请选择</option>
                    <option>哲学类</option>
                    <option>经济学类</option>
                </select>
                <select class="form-control  input-inline" id="ddlProfessionalType2" style="max-width:200px;">
                    <option>请选择</option>
                </select>
                <input type="text" class="form-control input-inline" id="txtProfessionalTypeRemark" style="display:none;margin-left:330px;margin-top:-55px" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学历<span class="required">*</span></label>
            <div class="col-sm-5">
                <select class="form-control input-inline" id="ddlEducation">
                    <option value="10">无</option>
                    <option value="20">专科</option>
                    <option value="30">本科</option>
                    <option value="40">双学士</option>
                    <option value="50">硕士研究生</option>
                    <option value="60">MBA</option>
                    <option value="70">博士研究生</option>
                    <option value="80">博士后及以上</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学位<span class="required">*</span></label>
            <div class="col-sm-9">
                <select class="form-control  input-inline" id="ddlDegree">
                    <option value="">请选择</option>
                    <option value="10">无</option>
                    <option value="20">学士</option>
                    <option value="30">双学士</option>
                    <option value="40">硕士</option>
                    <option value="50">MBA</option>
                    <option value="60">博士（后）</option>
                </select>
            </div>
        </div>

        <hr>
        <div class="form-group" id="divAddOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存继续添加" onclick="Save('N','Create');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Create');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence')" value="下一步" />
            </div>
        </div>
        <div class="form-group" id="divEditOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存" onclick="Save('N','Edit');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Edit');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/LanguageCompetence')" value="下一步" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $tbList = $('#tbList');
    var $trList = $('#trList');
    $(function () {

        //列表
        GetList();

        //学校
        GetSysField("#ddlSchoolArea", "DegreeSchool", "SchoolArea");
        $("#ddlSchoolArea").change(function () { GetSysFieldByParent("#ddlSchoolName", "#ddlSchoolArea", "SchoolName", "SchoolArea"); });
        $("#ddlSchoolName").change(function () {
            if (trimStr($("#ddlSchoolName").val()) == "其它") {
                $("#txtSchoolNameRemark").show();
            }
            else {
                $("#txtSchoolNameRemark").hide();
            }
        });
        //专业
        GetSysField("#ddlProfessionalType1", "DegreeSchool", "ProfessionalType1");
        $("#ddlProfessionalType1").change(function () { GetSysFieldByParent("#ddlProfessionalType2", "#ddlProfessionalType1", "ProfessionalType2", "ProfessionalType1"); });

        $("#ddlProfessionalType2").change(function () {
            if (trimStr($("#ddlProfessionalType2").val()) == "其它") {
                $("#txtProfessionalTypeRemark").show();
            }
            else {
                $("#txtProfessionalTypeRemark").hide();
            }

        });

        //学历
        GetSysField("#ddlEducation", "DegreeSchool", "Education");

        //学位
        GetSysField("#ddlDegree", "DegreeSchool", "Degree");



    });
    //列表
    function GetList() {
        $("#tbList").find("tr").each(function (i, data) {
            if (i > 1) {
                $(this).remove();

            }
        });
        $.ajax({
            url: "/DegreeSchool/GetList",
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data != null && data.length > 0) {//有数据
                    var No = 0;
                    $.each(data, function (key, item) {
                        var $tr = $trList.clone().appendTo($tbList);
                        No++;
                        $tr.css('display', '');

                        $tr.find("#tdNo").html(No); //序号
                        if (item.BeginDate != null && item.BeginDate.length >= 10) {
                            $tr.find("#tdBeginDate").html(item.BeginDate.substring(0, 10)); //开始日期
                        }
                        else {
                            $tr.find("#tdBeginDate").html(""); //开始日期
                        }
                        if (item.IsNow != null && item.IsNow == "Y") {
                            $tr.find("#tdEndDate").html("至今"); //结束日期
                        }
                        else if (item.EndDate != null && item.EndDate.length >= 10) {
                            $tr.find("#tdEndDate").html(item.EndDate.substring(0, 10)); //结束日期
                        }
                        else {
                            $tr.find("#tdEndDate").html("至今");
                        }
                        //$tr.find("#tdSchoolName").html(item.SchoolArea + "【" + item.SchoolName + "】"); //学校
                        //$tr.find("#tdProfessionalType2").html(item.ProfessionalType1 + "【" + item.ProfessionalType2 + "】"); //专业
                        //$tr.find("#tdDegree").html(item.Education + "【" + item.Degree + "】"); //学历学位
                        if (trimStr(item.SchoolName) == "其它") {
                            $tr.find("#tdSchoolName").html(item.SchoolNameRemark); //学校
                        }
                        else {
                            $tr.find("#tdSchoolName").html(item.SchoolName); //学校
                        }
                        if (trimStr(item.ProfessionalType2) == "其它") {
                            $tr.find("#tdProfessionalType2").html(item.ProfessionalTypeRemark); //专业
                        }
                        else {
                            $tr.find("#tdProfessionalType2").html(item.ProfessionalType2); //专业
                        }
                        $tr.find("#tdDegree").html(item.Education + "【" + item.Degree + "】"); //学历学位

                        //编辑
                        $tr.find('#aEdit').click(function () {
                            EditShow(item.Id)
                        });
                        //修改
                        $tr.find('#aDelete').click(function () {
                            Delete(item.Id)
                        });

                    });
                }
                else {//无数据
                    // alert(data.Message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });
    }
    //添加
    function AddShow() {
        $("#hideID").val("");
        $("#txtBeginDate").val("");
        $("#txtEndDate").val("");
        $("#cbIsNow").attr("checked", false);
        $("#ddlSchoolArea").get(0).selectedIndex = 0;
        $("#ddlSchoolName").get(0).selectedIndex = 0;
        $("#txtSchoolNameRemark").val("");//学校名称备注
        $("#ddlProfessionalType1").get(0).selectedIndex = 0;
        $("#ddlProfessionalType2").get(0).selectedIndex = 0;
        $("#txtProfessionalTypeRemark").val("");//专业备注
        $("#ddlEducation").get(0).selectedIndex = 0;
        $("#ddlDegree").get(0).selectedIndex = 0;
        $('#divEdit').show();
        $('#divAddOp').show();
        $('#divEditOp').hide();
        $('#divNoOp').hide();


    }
    //数据检验
    function CheckData() {
        var BeginDate = $("#txtBeginDate").val();
        var EndDate = $("#txtEndDate").val();
        var IsNow = ($("#cbIsNow").attr("checked"));
        var Message = "";
        if (trimStr(BeginDate) == "") {
            Message = "开始日期不能为空\n\r";
        }
        // checkbox "undefined" "checked"
        if (trimStr(EndDate) == "" && IsNow == "undefined") {
            Message += "结束日期不能为空\n\r";
        }

        var SchoolName = $("#ddlSchoolName").val();
        if (trimStr(SchoolName) == "") {
            Message += "学校不能为空\n\r";
        }
        if (trimStr(SchoolName) == "其它") {
            var SchoolNameRemark = $("#txtSchoolNameRemark").val();
            if (trimStr(SchoolNameRemark) == "") {
                Message += "学校不能为空\n\r";
            }
        }
        var ProfessionalType2 = $("#ddlProfessionalType2").val();
        if (trimStr(ProfessionalType2) == "") {
            Message += "专业不能为空\n\r";
        }
        if (trimStr(ProfessionalType2) == "其它") {
            var ProfessionalTypeRemark = $("#txtProfessionalTypeRemark").val();
            if (trimStr(ProfessionalTypeRemark) == "") {
                Message += "专业不能为空\n\r";
            }
        }
        var Education = $("#ddlEducation").val();
        if (trimStr(Education) == "") {
            Message += "学历不能为空\n\r";
        }
        var Degree = $("#ddlDegree").val();
        if (trimStr(Degree) == "") {
            Message += "学位不能为空\n\r";
        }

        if (Message != "") {
            alert(Message);
            return false;
        }
        return true;
    }
    //保存提交
    function Save(IsNext, Op) {
        //验证数据
        if (CheckData()) {
            var Id = $("#hideID").val();
            var BeginDate = $("#txtBeginDate").val();
            var EndDate = $("#txtEndDate").val();
            var IsNow = ($("#cbIsNow").attr("checked"));
            // checkbox "undefined" "checked"
            if (IsNow == "checked") {
                EndDate = "";
                IsNow = "Y";
            }
            else {
                IsNow = "N";
            }

            var SchoolArea = $("#ddlSchoolArea").val();
            var SchoolName = $("#ddlSchoolName").val();
            var SchoolNameRemark = $("#txtSchoolNameRemark").val();//学校名称备注
            var ProfessionalType1 = $("#ddlProfessionalType1").val();
            var ProfessionalType2 = $("#ddlProfessionalType2").val();
            var ProfessionalTypeRemark = $("#txtProfessionalTypeRemark").val();//专业备注
            var Education = $("#ddlEducation").val();
            var Degree = $("#ddlDegree").val();
            var ResumeId = $("#hideResumeId").val();
            var Sort = $("#hideSort").val();
            var State = $("#hideState").val();
            var CreateTime = $("#hideCreateTime").val();
            var CreatePerson = $("#hideCreatePerson").val();

           
            var url = "/DegreeSchool/CreateSave"
            if (Op == "Edit") {
                url = "/DegreeSchool/EditSave"
            }
            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                data: {Id:Id,
                    BeginDate: BeginDate, EndDate: EndDate, IsNow: IsNow,
                    SchoolArea: SchoolArea, SchoolName: SchoolName, ProfessionalType1: ProfessionalType1, ProfessionalType2: ProfessionalType2,
                    Education: Education, Degree: Degree, ProfessionalTypeRemark: ProfessionalTypeRemark, SchoolNameRemark: SchoolNameRemark,
                    ResumeId: ResumeId, Sort: Sort, State: State, CreateTime: CreateTime, CreatePerson: CreatePerson
                }, 
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        if (IsNext == "Y") {
                            window.location.href = "/LanguageCompetence";
                        }
                        else {
                            GetList();
                        }
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }
    //修改显示
    function EditShow(Id) {
        $("#hideID").val(Id);
        $.ajax({
            url: "/DegreeSchool/GetById",
            type: "post",
            dataType: "json",
            data: { "Id": Id },
            success: function (data) {
                if (data != null) {//成功
                    $("#txtBeginDate").val(jsonDateFormat(data.BeginDate));
                    $("#txtEndDate").val(jsonDateFormat(data.EndDate));
                    if (data.IsNow == "Y") {
                        $("#cbIsNow").attr("checked", true);
                    }
                    else {
                        $("#cbIsNow").attr("checked", false);
                    }
                    $("#ddlSchoolArea").val(data.SchoolArea).change();
                    $("#ddlSchoolName").val(data.SchoolName);
                    $("#txtSchoolNameRemark").val(data.SchoolNameRemark);//学校名称备注
                    if (trimStr(data.SchoolName) == "其它") {
                        $("#txtSchoolNameRemark").show();
                    }
                    else {
                        $("#txtSchoolNameRemark").hide();
                    }
                    $("#ddlProfessionalType1").val(data.ProfessionalType1).change();
                    $("#ddlProfessionalType2").val(data.ProfessionalType2);
                    $("#txtProfessionalTypeRemark").val(data.ProfessionalTypeRemark);//专业备注
                    if (trimStr(data.ProfessionalType2) == "其它") {
                        $("#txtProfessionalTypeRemark").show();
                    }
                    else {
                        $("#txtProfessionalTypeRemark").hide();
                    }
                    $("#ddlEducation").val(data.Education);
                    $("#ddlDegree").val(data.Degree);
                    $("#hideResumeId").val(data.ResumeId);
                    $("#hideSort").val(data.Sort);
                    $("#hideCreateTime").val(jsonDateTimeFormat(data.CreateTime));
                    $("#hideCreatePerson").val(data.CreatePerson);
                    $('#divEdit').show();
                    $('#divAddOp').hide();
                    $('#divEditOp').show();
                    $('#divNoOp').hide();
                }
                else {//失败
                    alert("未获取到数据");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });

    }
    //删除
    function Delete(Id) {
        if (confirm("你确定删除此记录吗？")) {
            $.ajax({
                url: "/DegreeSchool/Delete",
                type: "post",
                dataType: "json",
                data: { "Id": Id },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        GetList();
                        $('#divEdit').hide();
                        $('#divAddOp').hide();
                        $('#divEditOp').hide();
                        $('#divNoOp').show();
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }

</script>
