@model IEnumerable<Langben.DAL.ITAbility>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Personal.cshtml";
}
<div class="col-md-9 column">
    <h4 class="breadcrumb">
        撩妹
    </h4> 
    <!--列表开始 -->
    <table class="table table-bordered table-striped" id="tbList">
        <tr id="trTitle">
            <th>序号</th>
            <th>技能</th>
            <th>使用时间</th>
            <th>熟练程度</th>
            <th>操作</th>
        </tr>
        <tr id="trList" style="display:none">
            <td id="tdNo">1</td>
            <td id="tdAbility"> .net </td>
            <td id="tdUseTime"> 3个月 </td>
            <td id="tdProficiency"> 了解 </td>
            <td><a href="#" id="aEdit" class="btn btn-link btn-xs " title="编辑"><i class="fa fa-pencil-square-o"></i><span class="sr-only">编辑</span></a> | <a id="aDelete" href="#" class="btn btn-link btn-xs" title="删除"><i class="fa fa-trash"></i><span class="sr-only">删除</span></a></td>


        </tr>

    </table>
    <p>
        <input class="btn btn-primary" type="button" value="添 加" onclick="AddShow()" />
        <input class="btn btn-primary" type="button" onclick="BackList('/ProjectExperience/Index')" value="下一步" id="divNoOp" />
    </p>
    <div class="form-horizontal" role="form" id="divEdit" style="display:none">
        <input type="hidden" id="hideID" value="" /><!--编号-->
        <input type="hidden" id="hideResumeId" value="" /><!--简历管理Id-->
        <input type="hidden" id="hideSort" value="0" /><!--排序-->
        <input type="hidden" id="hideState" value="启用" /><!--状态-->
        <input type="hidden" id="hideCreateTime" value="" /><!--创建时间-->
        <input type="hidden" id="hideCreatePerson" value="" /><!--创建人-->
        <div class="form-group">
            <label class="col-sm-3 control-label">技能<span class="required">* </span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" style="width:300px" id="txtAbility" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">使用时间<span class="required">*</span></label>
            <div class="col-sm-5">
                <select class="form-control input-inline" id="ddlUseTime">
                    <option value="">-- 请选择 --</option>
                    <option value="10">3个月</option>
                    <option value="20">6个月</option>
                    <option value="30">1年</option>
                    <option value="40">2年</option>
                    <option value="50">3-5年</option>
                    <option value="60">5年以上</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">熟练程度<span class="required">*</span></label>
            <div class="col-sm-9">
                <select class="form-control  input-inline" id="ddlProficiency">
                    <option value="">-- 请选择 --</option>
                    <option value="10">一般</option>
                    <option value="20">熟练</option>
                    <option value="30">精通</option>
                </select>
            </div>
        </div>

        <hr>
        <div class="form-group" id="divAddOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存继续添加" onclick="Save('N','Create');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Create');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/ProjectExperience/Index')" value="下一步" />
            </div>
        </div>
        <div class="form-group" id="divEditOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存" onclick="Save('N','Edit');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Edit');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/ProjectExperience/Index')" value="下一步" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $tbList = $('#tbList');
    var $trList = $('#trList');
    $(function () {

        //列表
        GetList();

        //技能
        GetAbility("ITAbility", "Ability", "#txtAbility");

        //使用时间
        GetSysField("#ddlUseTime", "ITAbility", "UseTime");

        //熟练程度
        GetSysField("#ddlProficiency", "ITAbility", "Proficiency");



    });
    //技能
    var defaultcountry = [];
    function GetAbility(table, colum, objID) {

        $.ajax({
            url: "/SysField/GetSysField",
            type: "post",
            dataType: "json",
            data: { "table": table, "colum": colum },
            success: function (msg) {
                if (msg != null && msg.length > 0) {//有数据

                    $(objID).autocomplete(msg, {
                        max: 10, //列表里的条目数
                        minChars: 0, //自动完成激活之前填入的最小字符
                        width: 304, //提示的宽度，溢出隐藏
                        scrollHeight: 300, //提示的高度，溢出显示滚动条
                        matchContains: true, //包含匹配，就是data参数里的数据，是否只要包含文本框里的数据就显示
                        autoFill: false, //自动填充
                        //        minChars: 1,
                        formatItem: function (row, i, max) {
                            return "<table style='background-color:#f0f0f0;width:315px'><tr><td align='left'>" + row.MyTexts + "</td></tr></table>";
                        },
                        formatMatch: function (row, i, max) {
                            return row.MyTexts;
                        },
                        formatResult: function (row) {
                            return row.MyTexts;
                        }, resultsClass: 'search-text'
                    }, defaultcountry).result(function (event, row, formatted) {
                        $(objID).val(row.MyTexts);
                       
                    });

                }
                else {//无数据
                    // alert(data.Message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });
    }
    //列表
    function GetList() {
        $("#tbList").find("tr").each(function (i, data) {
            if (i > 1) {
                $(this).remove();

            }
        });
        $.ajax({
            url: "/ITAbility/GetList",
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data != null && data.length > 0) {//有数据
                    var No = 0;
                    $.each(data, function (key, item) {
                        var $tr = $trList.clone().appendTo($tbList);
                        No++;
                        $tr.css('display', '');

                        $tr.find("#tdNo").html(No); //序号
                        $tr.find("#tdAbility").html(item.Ability); //技能
                        $tr.find("#tdUseTime").html(item.UseTime); //使用时间
                        $tr.find("#tdProficiency").html(item.Proficiency); //熟练程度


                        //编辑
                        $tr.find('#aEdit').click(function () {
                            EditShow(item.Id)
                        });
                        //修改
                        $tr.find('#aDelete').click(function () {
                            Delete(item.Id)
                        });

                    });
                }
                else {//无数据
                    // alert(data.Message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });
    }
    //添加
    function AddShow() {

        $("#hideID").val("");       
        $("#txtAbility").val("");
        $("#ddlUseTime").get(0).selectedIndex = 0;
        $("#ddlProficiency").get(0).selectedIndex = 0;
        $('#divEdit').show();
        $('#divAddOp').show();
        $('#divEditOp').hide();
        $('#divNoOp').hide();


    }
    //数据检验
    function CheckData() {
        var Ability = $("#txtAbility").val();
        var UseTime = $("#ddlUseTime").val();
        var Proficiency = $("#ddlProficiency").val();
        var Message = "";
        if (trimStr(Ability) == "") {
            Message = "技能不能为空\n\r";
        }
        if (trimStr(UseTime) == "") {
            Message += "使用时间不能为空\n\r";
        }
        if (trimStr(Proficiency) == "") {
            Message += "熟练程度不能为空\n\r";
        }       
        if (Message != "") {
            alert(Message);
            return false;
        }
        
        return true;
    }
    //保存提交
    function Save(IsNext, Op) {
        //验证数据
        if (CheckData()) {
            var Id = $("#hideID").val();            
            var Ability = $("#txtAbility").val();
            var UseTime = $("#ddlUseTime").val();
            var Proficiency = $("#ddlProficiency").val();
            var ResumeId = $("#hideResumeId").val();
            var Sort = $("#hideSort").val();
            var State = $("#hideState").val();
            var CreateTime = $("#hideCreateTime").val();
            var CreatePerson = $("#hideCreatePerson").val();

            //var Model=  jQuery.parseJSON('{"BeginDate": "'+BeginDate+'", "EndDate": "'+EndDate+'", "IsNow": "'+IsNow+'", "SchoolArea": "'+SchoolArea+'", "SchoolName": "'+SchoolName+'", "ProfessionalType1": "'+ProfessionalType1+'", "ProfessionalType2": "'+ProfessionalType2+'", "Education": "'+Education+'", "Degree": "'+Degree+'" }');
            var Model = jQuery.parseJSON('{ ' +
                            '"Id":"' + Id + '"' +
                            ',"Ability": "' + Ability + '"' +                           
                            ',"UseTime": "' + UseTime + '"' +                           
                            ',"Proficiency": "' + Proficiency + '"' +                           
                            ',"ResumeId":"' + ResumeId + '"' +
                            ',"Sort":"' + Sort + '"' +
                            ',"State":"' + State + '"' +
                            ',"CreateTime":"' + CreateTime + '"' +
                           ',"CreatePerson":"' + CreatePerson + '"' +
            '}');
            var url = "/ITAbility/CreateSave"
            if (Op == "Edit") {
                url = "/ITAbility/EditSave"
            }

            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                //data: { "BeginDate": BeginDate, "EndDate": EndDate, "IsNow": IsNow, "SchoolArea": SchoolArea, "SchoolName": SchoolName, "ProfessionalType1": ProfessionalType1, "ProfessionalType2": ProfessionalType2, "Education": Education, "Degree": Degree },
                data: { "Model": JSON.stringify(Model) },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        if (IsNext == "Y") {
                            window.location.href = "/ProjectExperience/Index";
                        }
                        else {
                            GetList();
                        }
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }
    //修改显示
    function EditShow(Id) {
        $("#hideID").val(Id);
        $.ajax({
            url: "/ITAbility/GetById",
            type: "post",
            dataType: "json",
            data: { "Id": Id },
            success: function (data) {
                if (data != null) {//成功     

                    $("#txtAbility").val(data.Ability);
                    $("#ddlUseTime").val(data.UseTime);
                    $("#ddlProficiency").val(data.Proficiency);
                    $("#hideResumeId").val(data.ResumeId);
                    $("#hideSort").val(data.Sort);
                    $("#hideCreateTime").val(jsonDateTimeFormat(data.CreateTime));
                    $("#hideCreatePerson").val(data.CreatePerson);
                    $('#divEdit').show();
                    $('#divAddOp').hide();
                    $('#divEditOp').show();
                    $('#divNoOp').hide();
                }
                else {//失败
                    alert("未获取到数据");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });

    }
    //删除
    function Delete(Id) {
        if (confirm("你确定删除此记录吗？")) {
            $.ajax({
                url: "/ITAbility/Delete",
                type: "post",
                dataType: "json",
                data: { "Id": Id },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        GetList();
                        $('#divEdit').hide();
                        $('#divAddOp').hide();
                        $('#divEditOp').hide();
                        $('#divNoOp').show();
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }

</script>


