@model IEnumerable<Langben.DAL.ProjectExperience>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Personal.cshtml";
}

<div class="col-md-9 column">
    <h4 class="breadcrumb">
        谁没参加几个脑残的项目
    </h4> 
    <!--列表开始 -->
    <table class="table table-bordered table-striped" id="tbList">
        <tr id="trTitle">
            <th>序号</th>
            <th>开始日期</th>
            <th>结束日期</th>
            <th>项目名称</th>
            <th>职务</th>
            <th>操作</th>
        </tr>
        <tr id="trList" style="display:none">
            <td id="tdNo">1</td>
            <td id="tdBeginDate"> 2016-05-31 </td>
            <td id="tdEndDate"> 2016-07-01 </td>
            <td id="tdProjectName">电商网 </td>
            <td id="tdJob"> 架构师 </td>          
            <td><a href="#" id="aEdit" class="btn btn-link btn-xs " title="编辑"><i class="fa fa-pencil-square-o"></i><span class="sr-only">编辑</span></a> | <a id="aDelete" href="#" class="btn btn-link btn-xs" title="删除"><i class="fa fa-trash"></i><span class="sr-only">删除</span></a></td>


        </tr>

    </table>
    <p>
        <input class="btn btn-primary" type="button" value="添 加" onclick="AddShow()" />
        <input class="btn btn-primary" type="button" onclick="BackList('/InternshipExperience')" value="下一步" id="divNoOp" />
    </p>
    <div class="form-horizontal" role="form" id="divEdit" style="display:none">
        <input type="hidden" id="hideID" value="" /><!--编号-->
        <input type="hidden" id="hideResumeId" value="" /><!--简历管理Id-->
        <input type="hidden" id="hideSort" value="0" /><!--排序-->
        <input type="hidden" id="hideState" value="启用" /><!--状态-->
        <input type="hidden" id="hideCreateTime" value="" /><!--创建时间-->
        <input type="hidden" id="hideCreatePerson" value="" /><!--创建人-->
        <div class="form-group">
            <label class="col-sm-3 control-label">开始日期<span class="required">* </span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtBeginDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtBeginDate' })"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束日期<span class="required">*</span></label>
            <div class=" col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtEndDate" onclick="WdatePicker()" />
                    <span class="input-group-addon" onclick="WdatePicker({ el: 'txtEndDate' })"><i class="fa fa-calendar"></i></span>
                    <div style="float: left">&nbsp;<input name="cbIsNow" id="cbIsNow" type="checkbox" />至今</div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称<span class="required">* </span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtProjectName"  />                 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">职务<span class="required">* </span></label>
            <div class=" col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" id="txtJob" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目简述<span class="required">* </span></label>
            <div class=" col-sm-9">
                <div class="">
                    <textarea class="form-control" rows="3"  id="txtProjectDescription"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group" id="divAddOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存继续添加" onclick="Save('N','Create');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Create');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/InternshipExperience')" value="下一步" />
            </div>
        </div>
        <div class="form-group" id="divEditOp" style="display:none">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="btn btn-primary" type="button" value="保存" onclick="Save('N','Edit');" />
                <input class="btn btn-primary" type="submit" value="保存，并跳转到下一步" onclick="Save('Y','Edit');" />
                <input class="btn btn-primary" type="button" onclick="BackList('/InternshipExperience')" value="下一步" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $tbList = $('#tbList');
    var $trList = $('#trList');
    $(function () {
        //列表
        GetList();
    });
    //列表
    function GetList() {
        $("#tbList").find("tr").each(function (i, data) {
            if (i > 1) {
                $(this).remove();

            }
        });
        $.ajax({
            url: "/ProjectExperience/GetList",
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data != null && data.length > 0) {//有数据
                    var No = 0;
                    $.each(data, function (key, item) {
                        var $tr = $trList.clone().appendTo($tbList);
                        No++;
                        $tr.css('display', '');

                        $tr.find("#tdNo").html(No); //序号
                        if (item.BeginDate != null && item.BeginDate.length >= 10) {
                            $tr.find("#tdBeginDate").html(item.BeginDate.substring(0, 10)); //开始日期
                        }
                        else {
                            $tr.find("#tdBeginDate").html(""); //开始日期
                        }
                        if (item.IsNow != null && item.IsNow == "Y") {
                            $tr.find("#tdEndDate").html(""); //结束日期
                        }
                        else if (item.EndDate != null && item.EndDate.length >= 10) {
                            $tr.find("#tdEndDate").html(item.EndDate.substring(0, 10)); //结束日期
                        }
                        else {
                            $tr.find("#tdEndDate").html("");
                        }
                        $tr.find("#tdProjectName").html(item.ProjectName); //项目名称                     
                        $tr.find("#tdJob").html(item.Job); //职务
                        //编辑
                        $tr.find('#aEdit').click(function () {
                            EditShow(item.Id)
                        });
                        //修改
                        $tr.find('#aDelete').click(function () {
                            Delete(item.Id)
                        });

                    });
                }
                else {//无数据
                    // alert(data.Message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });
    }
    //添加
    function AddShow() {
        $("#hideID").val("");
        $("#txtBeginDate").val("");
        $("#txtEndDate").val("");
        $("#cbIsNow").attr("checked", false);
        $("#txtProjectName").val("");
        $("#txtJob").val("");
        $("#txtProjectDescription").val("");
        $('#divEdit').show();
        $('#divAddOp').show();
        $('#divEditOp').hide();
        $('#divNoOp').hide();


    }
    //数据检验
    function CheckData() {
        var BeginDate = $("#txtBeginDate").val();
        var EndDate = $("#txtEndDate").val();
        var IsNow = ($("#cbIsNow").attr("checked"));
        var Message = "";
        if (trimStr(BeginDate) == "") {
            Message = "开始日期不能为空\n\r";
        }
        // checkbox "undefined" "checked"
        if (trimStr(EndDate) == "" && IsNow == "undefined") {
            Message += "结束日期不能为空\n\r";
        }
        var Ability = $("#txtProjectName").val();
        var Job = $("#txtJob").val();
        var Proficiency = $("#ddlProficiency").val();
        var Message = "";
        if (trimStr(Ability) == "") {
            Message += "项目名称不能为空\n\r";
        }
        if (trimStr(Job) == "") {
            Message += "职务不能为空\n\r";
        }
        var ProjectDescription = $("#txtProjectDescription").val();
        if (trimStr(ProjectDescription) == "") {
            Message += "项目描述不能为空\n\r";
        }
        
        if (Message != "") {
            alert(Message);
            return false;
        }
        return true;
    }
    //保存提交
    function Save(IsNext, Op) {
        //验证数据
        if (CheckData()) {
            var Id = $("#hideID").val();
            var BeginDate = $("#txtBeginDate").val();
            var EndDate = $("#txtEndDate").val();
            var IsNow = ($("#cbIsNow").attr("checked"));
            // checkbox "undefined" "checked"
            if (IsNow == "checked") {
                EndDate = "";
                IsNow = "Y";
            }
            else {
                IsNow = "N";
            }

            var ProjectName = $("#txtProjectName").val();
            var Job = $("#txtJob").val();
            var ProjectDescription = $("#txtProjectDescription").val();
            
            var ResumeId = $("#hideResumeId").val();
            var Sort = $("#hideSort").val();
            var State = $("#hideState").val();
            var CreateTime = $("#hideCreateTime").val();
            var CreatePerson = $("#hideCreatePerson").val();

            //var Model=  jQuery.parseJSON('{"BeginDate": "'+BeginDate+'", "EndDate": "'+EndDate+'", "IsNow": "'+IsNow+'", "SchoolArea": "'+SchoolArea+'", "SchoolName": "'+SchoolName+'", "ProfessionalType1": "'+ProfessionalType1+'", "ProfessionalType2": "'+ProfessionalType2+'", "Education": "'+Education+'", "Degree": "'+Degree+'" }');
            var Model = jQuery.parseJSON('{ ' +
                            '"Id":"' + Id + '"' +
                            ',"BeginDate": "' + BeginDate + '"' +
                            ',"EndDate": "' + EndDate + '"' +
                            ',"IsNow": "' + IsNow + '"' +
                            ',"ProjectName": "' + ProjectName + '"' +
                            ',"Job": "' + Job + '"' +
                            ',"ProjectDescription": "' + ProjectDescription + '"' +                            
                            ',"ResumeId":"' + ResumeId + '"' +
                            ',"Sort":"' + Sort + '"' +
                            ',"State":"' + State + '"' +
                            ',"CreateTime":"' + CreateTime + '"' +
                           ',"CreatePerson":"' + CreatePerson + '"' +
            '}');
            var url = "/ProjectExperience/CreateSave"
            if (Op == "Edit") {
                url = "/ProjectExperience/EditSave"
            }

            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                //data: { "BeginDate": BeginDate, "EndDate": EndDate, "IsNow": IsNow, "SchoolArea": SchoolArea, "SchoolName": SchoolName, "ProfessionalType1": ProfessionalType1, "ProfessionalType2": ProfessionalType2, "Education": Education, "Degree": Degree },
                data: { "Model": JSON.stringify(Model) },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        if (IsNext == "Y") {
                            window.location.href = "/InternshipExperience/Index";
                        }
                        else {
                            GetList();
                        }
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }
    //修改显示
    function EditShow(Id) {
        $("#hideID").val(Id);
        $.ajax({
            url: "/ProjectExperience/GetById",
            type: "post",
            dataType: "json",
            data: { "Id": Id },
            success: function (data) {
                if (data != null) {//成功
                    $("#txtBeginDate").val(jsonDateFormat(data.BeginDate));
                    $("#txtEndDate").val(jsonDateFormat(data.EndDate));
                    if (data.IsNow == "Y") {
                        $("#cbIsNow").attr("checked", true);
                    }
                    else {
                        $("#cbIsNow").attr("checked", false);
                    }
                    $("#txtProjectName").val(data.ProjectName);
                    $("#txtJob").val(data.Job);
                    $("#txtProjectDescription").val(data.ProjectDescription);
                   
                    $("#hideResumeId").val(data.ResumeId);
                    $("#hideSort").val(data.Sort);
                    $("#hideCreateTime").val(jsonDateTimeFormat(data.CreateTime));
                    $("#hideCreatePerson").val(data.CreatePerson);
                    $('#divEdit').show();
                    $('#divAddOp').hide();
                    $('#divEditOp').show();
                    $('#divNoOp').hide();
                }
                else {//失败
                    alert("未获取到数据");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取数据失败");
            }
        });

    }
    //删除
    function Delete(Id) {
        if (confirm("你确定删除此记录吗？")) {
            $.ajax({
                url: "/ProjectExperience/Delete",
                type: "post",
                dataType: "json",
                data: { "Id": Id },
                success: function (data) {
                    if (data.Code == 1) {//成功
                        alert("操作成功");
                        GetList();
                        $('#divEdit').hide();
                        $('#divAddOp').hide();
                        $('#divEditOp').hide();
                        $('#divNoOp').show();
                    }
                    else {//失败
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败");
                }
            });
        }
    }

</script>